<a href="https://colab.research.google.com/github/ss1111119/Myfirstproject/blob/main/20220823.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas由入門到進階

## 宣告資料

Pandas常用的資料類型有：
1. Series：一維陣列的資料，列(index)為資料儲存順序
2. DataFrame：二維的資料陣列，由列(index)及欄(column)組合而成

Pandas模組匯入

```
import pandas as pd
```

### Series 一維資料

```
se = pd.Series(串列)
```

In [19]:
# 宣告
import pandas as pd

# 一堆資料 Series
price = [100, 50, 120, 80, 30]
se = pd.Series(price)

# 求值
se.values

# 求索引
se.index

# 自訂索引
fruits = ['Apple', 'Banana', 'Cherry', 'Orange', 'Tomto']
price = [100, 50, 120, 80, 30]
se2 = pd.Series(price, index=fruits)
se2

Apple     100
Banana     50
Cherry    120
Orange     80
Tomto      30
dtype: int64

In [ ]:
# 取得數值資料的統計資訊
se2.describe()

count      5.000000
mean      76.000000
std       36.469165
min       30.000000
25%       50.000000
50%       80.000000
75%      100.000000
max      120.000000
dtype: float64

In [ ]:
# 統計：加總、最小值、最大值、平均值、中位數
se2.sum()
se2.min()
se2.max()
se2.mean()
se2.median()

80.0

In [21]:
# 取值
se2

Apple     100
Banana     50
Cherry    120
Orange     80
Tomto      30
dtype: int64

In [24]:
# 用索引值
se2[2]
# loc, iloc
se2.loc['Orange']
se2.iloc[3]

80

### DataFrame 二維資料

```
df = pd.DataFrame(字典)
```

範例資料:

```
{
  "姓名":["林小明", "陳聰明", "黃美麗", "張小娟", "廖小誠"],
  "國文":[65,92,78,83,70],
  "英文":[90,72,76,93,56],
  "數學":[81,85,91,89,77],
  "社會":[79,53,47,94,80] 
}
```

In [28]:
# 定義 DataFrame 資料
import pandas as pd
df = pd.DataFrame({
  "姓名":["林小明", "陳聰明", "黃美麗", "張小娟", "廖小誠"],
  "國文":[65,92,78,83,70],
  "英文":[90,72,76,93,56],
  "數學":[81,85,91,89,77],
  "社會":[79,53,47,94,80] 
})

In [29]:
df

    姓名  國文  英文  數學  社會
0  林小明  65  90  81  79
1  陳聰明  92  72  85  53
2  黃美麗  78  76  91  47
3  張小娟  83  93  89  94
4  廖小誠  70  56  77  80

In [32]:
# 顯示index, colums
df.index
df.columns

# 取得所有值
df.values

array([['林小明', 65, 90, 81, 79],
       ['陳聰明', 92, 72, 85, 53],
       ['黃美麗', 78, 76, 91, 47],
       ['張小娟', 83, 93, 89, 94],
       ['廖小誠', 70, 56, 77, 80]], dtype=object)

In [57]:
# 取得列資料 索引，loc, iloc
df.values[-1]
df.loc[1]
df.iloc[1]


# 取得欄位資料(單欄、多欄)
df['姓名']
df['國文']
df[['姓名', '國文']]
df[['國文', '英文', '數學']]
# ​df[['姓名', '國文','數學']]

# 取得指定欄列(儲存格)的值 索引, loc, iloc
df.values[0, 1] #列,欄
df.loc[1, '英文']
df.loc[3, '數學']
df.iloc[3, 3]#都用索引值

89

In [84]:
# 取得最前或最後幾筆資料
# .head(n) .tail(n) n 預設為5
df.head(2) #最前 
df.tail(2) #最後

# 篩選
condition = df['姓名'] == "陳聰明"
df[condition]
# and --> & , or --> |
condition = df['英文'] & df['國文'] > 80
condition = (df['英文'] >80 ) | (df['國文'] > 80)
df[condition]
# df['英文'] >= 80

# 排序
#df.sort_valuse([欄名] [,ascending = 布林值])
# df.sort_values(['國文'], ascending = True) #遞爭排序
# df.sort_values(['國文'], ascending = False) #遞減排序
df.sort_values(['國文', '英文'], ascending = [False ,True]) #雙欄排序

    姓名  國文  英文  數學  社會
1  陳聰明  92  72  85  53
3  張小娟  83  93  89  94
2  黃美麗  78  76  91  47
4  廖小誠  70  56  77  80
0  林小明  65  90  81  79

In [85]:
# 指定欄位索引
df1 = df.set_index('姓名')
df1

     國文  英文  數學  社會
姓名
林小明  65  90  81  79
陳聰明  92  72  85  53
黃美麗  78  76  91  47
張小娟  83  93  89  94
廖小誠  70  56  77  80

In [87]:
df1.loc['黃美麗','數學']
df1.iloc[2,2]

91

## 讀取資料

Pandas可以讀取本地或是網路上「表格式」的資料，如CSV、Excel、json、html，方法有：
1. read_csv() 
2. read_excel()
3. read_json()
4. read_html()

In [7]:
# 讀取遠端資料
# COVID-19各國家地區累積病例數與死亡數
# https://data.gov.tw/dataset/120449
# https://od.cdc.gov.tw/eic/covid19/covid19_global_cases_and_deaths.csv
import pandas as pd
url = "https://od.cdc.gov.tw/eic/covid19/covid19_global_cases_and_deaths.csv"
df = pd.read_csv(url, thousands = ",") #thousands 告知千位使用,號，要去除，才會變成數字
df.head() #顯示前幾筆
# df['d'] >80

  country_ch     country_en     cases   deaths
0         美國  United States  93004753  1062220
1         印度          India  44348960   527368
2         法國         France  34358624   153617
3         巴西         Brazil  34291082   682671
4         德國        Germany  31808228   146504

In [18]:
condition = (df['cases'] >= 1000000)
# df[condition]['country_ch'] #只顯示國家
# condition = df['country_ch'] ==  '臺灣'
df[df['country_ch'] == '臺灣']
# print(condition)

   country_ch country_en    cases  deaths
22         臺灣     Taiwan  5060178    9657

In [19]:
df.describe()

              cases        deaths
count  2.020000e+02  2.020000e+02
mean   2.935627e+06  3.201220e+04
std    8.902506e+06  1.060354e+05
min    2.000000e+00  0.000000e+00
25%    3.710475e+04  3.862500e+02
50%    2.790580e+05  3.176000e+03
75%    1.541203e+06  1.657050e+04
max    9.300475e+07  1.062220e+06

In [40]:
# 讀取網路上的CSV檔
import pandas as pd
# 空氣品質指標(AQI) https://data.gov.tw/dataset/40448
# https://data.epa.gov.tw/api/v1/aqx_p_432?limit=1000&api_key=9be7b239-557b-4c10-9775-78cadfc555e9&sort=ImportDate%20desc&format=csv

url = "https://data.epa.gov.tw/api/v2/aqx_p_432?format=csv&api_key=" 
df = pd.read_csv(url)
df

,sitename,county,aqi,pollutant,status,so2,co,o3,o3_8hr,pm10,...,wind_speed,wind_direc,publishtime,co_8hr,pm2.5_avg,pm10_avg,so2_avg,longitude,latitude,siteid
0,基隆,基隆市,15,NaN,良好,0.2,0.09,20.8,16.1,16,...,0.4,334,2022/08/23 22:00:00,0.1,3,11,0,121.760056,25.129167,1
1,汐止,新北市,13,NaN,良好,0.4,0.10,18.5,14.3,6,...,1.3,25,2022/08/23 22:00:00,0.1,2,11,0,121.642300,25.067131,2
2,萬里,新北市,15,NaN,良好,0.5,0.08,21.4,16.0,7,...,2.6,143,2022/08/23 22:00:00,0.0,4,10,1,121.689881,25.179667,3
3,新店,新北市,15,NaN,良好,1.1,0.11,18.4,16.1,9,...,1.7,268,2022/08/23 22:00:00,0.1,3,12,1,121.537778,24.977222,4
4,土城,新北市,19,NaN,良好,0.8,0.13,15.4,21.2,10,...,2.3,134,2022/08/23 22:00:00,0.1,3,16,1,121.451861,24.982528,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,屏東(琉球),屏東縣,32,NaN,良好,0.8,0.05,21.9,30.2,38,...,2.4,107,2022/08/23 22:00:00,0.1,10,20,1,120.377220,22.352220,204
82,桃園(三民),桃園市,25,NaN,良好,1.3,0.20,14.6,20.6,18,...,1.3,99,2022/08/23 22:00:00,0.2,7,24,2,121.318208,25.001219,310
83,新北(樹林),新北市,35,NaN,良好,0.0,0.16,15.7,20.0,8,...,1,131,2022/08/23 22:00:00,0.3,10,19,0,121.383528,24.949028,311
84,臺南(學甲),臺南市,30,NaN,良好,0.3,0.13,39.1,32.6,20,...,0.3,1,2022/08/23 22:00:00,0.1,5,17,0,120.183397,23.236881,312
85,屏東(枋寮),屏東縣,33,NaN,良好,0.1,0.04,22.8,36.1,12,...,1.9,72,2022/08/23 22:00:00,0.1,6,15,0,120.590369,22.384742,313